<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="watcher-path" value="/path/to/rainbow/project"/>
        <add key="watcher-paths" value="htdocs;htdocs/static/css;htdocs/static/js;htdocs/static/images;lib;lib/Rainbow;controllers;models;views/smarty/templates/"/>
        <add key="watcher-filters" value="css;js;php;png;jpg;gif;html"/>
        <add key="script-working-directory" value="/path/to/rainbow/project/scripts/"/>
        <add key="script-to-hook" value="/path/to/rainbow/project/scripts/dev-update-site"/>
        <add key="debug-flag" value="0"/>
    </appSettings>
</configuration>
